{% extends "layout.html" %}

{% block content %}
    <body>
        <nav class="navbar navbar-expand-lg bg-dark">
            <div class="container-fluid">
                <a class="a text-warning" href="/addreceta">NUEVA RECETA</a>
                <form class="d-flex" role="search" action="/search" method="POST">
                    <input class="form-control me-2" name="buscador" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>       
                <a class="b text-warning" href="{{ url_for('usuario') }}">PERFIL</a>
            </div>
        </nav>
        {% if recetas %}
        {% for i in recetas %}
                    <ul>
                        <li>
                            <div class="container">
                                <p class="fw-bold">Titulo:</p><p>{{i.titulo}}</p>
                                <p class="fs-4 fw-bold">Ingredientes:</p><p>{{i.ingredientes}}</p>
                                <p class="fs-4 fw-bold">Descripcion Receta:</p><p>{{i.receta}}</p>
                                <p class="fw-bold">Autor:</p><p>{{i.autor}}</p>
                                <div class="like">
                                    <p>{ likes } Likes</p>  
                                    {% if current_user.id != i.usuario_id %}                          
                                            <button v-on:click="increment">♡Like♡</button>
                                            <button v-on:click="decrement">DisLike D:</button>
                                    {% endif %}               
                                </div>
                                <div class="recto">
                                {% if current_user.id == i.usuario_id %}
                                    <a class="botonrojo" href="/eliminar/{{i.id}}">Borrar Receta</a>
                                    <a class="botonverde" href="/editar/{{i.id}}">Editar Receta</a>    
                                {% endif %}
                                </div>
                                
                            </div>
                        </li>
                    </ul>
                {% endfor %}
            {% else %}
                <p class="alerta">{{mensaje}}</p>
            {% endif %}
            <div>
                <a class="boton2" href="{{ url_for('volver') }}">Cancelar busqueda</a>
            </div>
        </body>
{% endblock%}