{% extends "layout.html" %}

{% block content %}
    <body>
        <nav>
            <div class="navbar">
                <a href="/">HOME</a>
            </div>
        </nav>
        <div class="form">
            <form action="/login" method="POST">
                <h3 class="texto">Formulario de Login</h3>
                <p class="etiqueta">Nombre de Usuario</p>
                <input type="text" class="control" name="username" placeholder="USERNAME" autofocus>
                <p class="etiqueta">Contraseña</p>
                <input type="password" class="control" name="password" placeholder="PASSWORD">
                <button type="submit" class="boton">Enviar</button>
                <a href="/singup">¿No tienes cuenta?</a>
            </form>
        </div>
    </body>
{% endblock %}