{% extends "layout.html" %}

{% block content %}
    <body>
        <nav class="navbar navbar-expand-lg bg-dark">
            <div class="container-fluid">
                <a class="a text-warning" href="/return">FEED</a>
                <a class="b text-warning" href="/logout">CERRAR SESION</a>
            </div>
        </nav>
        <div>
            <h1 class="textoperfil">
                {% if current_user.is_authenticated %}
                    Bienvenido a tu perfil {{ current_user.username }}!
                {% endif %}
            </h1>
        </div>
    </body>
{% endblock %}