{% extends "layout.html" %}

{% block content %}
    <body>
        <nav class="navbar navbar-expand-lg bg-dark">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active text-warning" aria-current="page" href="/">HOME</a>
                      </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="form">
            <form action="/singup" method="POST">
                <h3 class="texto">Formulario de Registro</h3>
                <p class="etiqueta">Nombre de Usuario</p>
                <input type="text" class="control" name="username" placeholder="USERNAME" autofocus>
                <p class="etiqueta">Contraseña</p>
                <input type="password" class="control" name="password" placeholder="PASSWORD">
                <button type="submit" class="boton">Registrar</button>
                <a href="/login">¿Ya tienes cuenta?</a>
                {% if mensaje %}
                    <p class="alerta">{{mensaje}}</p>
                {% endif %}
            </form>
        </class>
    </body>
{% endblock %}